body {
  margin: 0;
  padding: 0;
}
/* ---- header ---- */
header {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: 0;
  color: #d04f4f;
}
/* ---- main ---- */
main {
  width: 70%;
  margin: auto;
}
/* ---- input ---- */
.search-bar {
  width: 100%;
  text-align: center;
  height: 69px;
  display: flex;
  margin-bottom: 20px;
}
#global-search {
  width: 100%;
  height: 69px;
  background: #e7e7e7;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  padding-left: 15px;
}
#magnifying-glass {
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  right: 70px;
}
/* ---- Bubble filter .... */

/* ---- Dropdown ---- */
#secondary-filter {
  width: 100%;
  min-height: 69px;
  position: absolute;
  z-index: 100;
  display: flex;
  margin-bottom: 25px;
  overflow: hidden;
}
.dropdown {
  width: 200px;
  max-height: 500px;

  /*height: 69px;*/
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  z-index: 100;
}
.arrow-down {
  cursor: pointer;
}
.header-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
  min-height: 49px;
  max-height: 500px;
}

#first-header-dropdown {
  background-color: #3282f7;
}
#secondary-header-dropdown {
  background-color: #68d9a4;
}
#third-header-dropdown {
  background-color: #ed6454;
}
#ingredients-container {
  background-color: #3282f7;
  color: white;
  opacity: 0;
}
#ingredients-container.isVisible {
  opacity: 1;
  transition: 0.3s;
}
#appareils-container {
  background-color: #68d9a4;
  opacity: 0;
  color: white;
}
#appareils-container.isVisible {
  opacity: 1;
  transition: 0.3s;
}

#ustensiles-container {
  background-color: #ed6454;
  opacity: 0;
  color: white;
}
#ustensiles-container.isVisible {
  opacity: 1;
  transition: 0.3s;
}
.dropdown.resize {
  width: 40%;
}
/* .... input des dropdown .... */
#ingredients-input {
  background-color: #3282f7;
}
#appareils-input {
  background-color: #68d9a4;
}
#ustensiles-input {
  background-color: #ed6454;
}
.little {
  height: 100%;
  width: 80%;
  color: white;
  border: none;
  font-size: medium;
  outline: none;
}

.little::placeholder {
  color: white;
  font-size: medium;
  border: none;
}
.big {
  display: none;
}
/* --- liste dropdown --- */
ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
ul li {
  max-height: 10%;
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 30%;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}
.list_container {
  display: flex;
  border-radius: 5px;
  padding: auto;
}
#ingredients-list {
  overflow-y: scroll;
}
#ingredients-list::-webkit-scrollbar {
  display: none;
}
.list_container ul {
  overflow: hidden;
  max-height: 430px;
}

.rotate {
  transform: rotate(180deg);
}
/* ---- Card container ---- */
.card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 109px;
}
.card {
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-overflow: clip;
  cursor: pointer;
  overflow: hidden;
}
.card_img {
  height: 50%;
  width: 100%;
  background-color: rgb(121, 124, 120);
}

.top_card_info {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.top_card_info h2 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  padding: 20px;
}
.top_card_info p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.time {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card_info {
  background-color: #e7e7e7;
  height: 50%;
}
.bottom_card_info {
  display: flex;
  justify-content: space-between;
}
.info_ingredients {
  width: 50%;
  padding: 20px;
  font-size: 13px;
  list-style-type: none;
}
.info_description {
  width: 50%;
  height: 35%;
  padding: 20px;
  font-size: 13px;
}
.info_description p {
  /* à modifier selon vos besoins */
  height: 87px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ---- Bubble tags ---- */
.bubble_container {
  display: flex;
}
.bubble_tag {
  height: 50px;
  width: 100px;
  background-color: #3282f7;
  margin-bottom: 25px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bubble_closed {
  height: 20px;
  width: 20px;
}
.bubble_text {
  color: white;
  font-size: small;
}
